.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.movie-item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

.movie-item:hover {
  transform: scale(1.05);
}

.movie-item img {
  width: 100%;
  height: auto;
}

.movie-item h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.rating {
  margin: 5px 0;
  color: #000; 
  font-size: 0.9em; 
}

.description {
  margin: 5px 0;
  color: #000; 
  font-size: 0.8em; 
}




